{% extends 'base.html.twig' %}


{% block title %}NFQ Akademija  - Studentai }}{% endblock %}
{% block body %}
    {% if students %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student</th>
            </tr>
            </thead>
            <tbody>
            {% for key, student in students %}
                {% for member in student['members'] %}
                    <tr>
                        <td><a href="/student?utm_source=akademija&utm_campaign={{ student['mentor'] }}&utm_term={{ member }}&utm_content={{ key }}">{{ member }}</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>



    {% else %}
        <p>No studens in class :(</p>
    {% endif %}

{% endblock %}